{% extends "partial/layout.html.twig" %}

{% block title %}{{ t("forgot_password_page_name", "Forgot Password") }}{% endblock %}
{% block description %}{{ t("forgot_password_meta_description", "Forgot account password") }}{% endblock %}
{% block keywords %}{{ t("forgot_password_meta_keywords", "forgot, password, account, image, picture, pic, img, hosting, sharing, upload, storage, site, website") }}{% endblock %}

{% block body %}
<div class="container ">
<div class="row">
                       
<!-- RECOVER FORM -->
    <section class="account-info-section">  
        <div class="container">
            <div class="account-info-box">
                <div class="account-info-section-text text-center">
                <h3 class="mb-xl-3 mb-lg-3 mb-md-3 mb-sm-3 mb-2">{{ t("forgot_password_page_name", "Forgot Password") }}</h3>
                                    {% if msg_page_errors is defined %}
                    <div class="alert bg--error">
                        <div class="alert__body"><i class="fa fa-exclamation-triangle color--error"></i>&nbsp;&nbsp;{% if msg_page_errors is defined %}{{ msg_page_errors|join('. ') }}{% endif %}</div>
                    </div>
                    {% endif %}
                <p>{{ t("forgot_password_intro_text", "Enter your email address below to receive further instructions on how to reset your account password.") }}</p>
                </div>

                <form class="account-info-form"  method="POST"  id="form_login" action="{{ CORE_SITE_PATH }}/account/forgot_password" autocomplete="off" >

                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">    
                                <input type="email" class="form-control" placeholder="Email Address" name="emailAddress" id="email" required> 
                            </div>
                        </div>
                    </div>
                    
                    <div>
                      
                    </div>
                    <div class="submitform-button">
                    <button type="submit" id="submit" class="submitform-btn button-effect" >{{ t("request_reset", "request reset")|title }}</button>
                    </div>
                    <input type="hidden" value="1" name="submitme"/>
                  </form>
                
            </div>
        </div>
    </section>    
 

    </div>
</div>
{% endblock %}