 
<!-- FOOTER -->
<section class="footer-section text-white">

    <div class="container">
        <div class="row">
            <div class="footer-logo-setting col-lg-4 col-md-6 col-sm-6">
                <div class="footer-logo">
                    <figure class="footer-image">
                        <img class="img-fluid" src="{{ theme.getAccountImagePath() }}/logo.png" alt="">
                    </figure>
                    <small>Copyright 2023 <a href="https://yetishare-themes.com">YetishareThemes</a><br/>
                        All Rights Reserved.</small>
                    <ul class="footer-list list-unstyled">
                        <li class="facebook"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="google-plus"><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        <li class="linkedin"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>  
                </div>  
            </div>
            <div class="footer-hosting-setting col-lg-3 col-md-6 col-sm-6">
                <div class="footer-hosting">
                    <h5>Links</h5>
                    <ul class="hosting-list list-unstyled">
                        <li><a href="{{ CORE_SITE_PATH }}/rewards">Affiliate Program</a></li>
                        <li><a href="{{ CORE_SITE_PATH }}/reseller">Reseller Program</a></li>
                        <li><a href="{{ CORE_SITE_PATH }}/link_checker">link checker</a></li>
                        <li><a href="{{ CORE_SITE_PATH }}/api">API</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-company-setting col-lg-3 col-md-6 col-sm-6">
                <div class="footer-company">
                    <h5>Info</h5>
                    <ul class="company-list list-unstyled">
                        <li><a href="{{ CORE_SITE_PATH }}/terms">Terms &amp; Conditions</a></li>
                        <li><a href="{{ CORE_SITE_PATH }}/privacy">Privacy Policy</a></li>
                        <li><a href="{{ CORE_SITE_PATH }}/faq">FAQ</a></li>
                        <li><a href="{{ CORE_SITE_PATH }}/about">About Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-contact-setting col-lg-2 col-md-6 col-sm-6">
                <div class="footer-contact">
                    <h5>Contact</h5>
                    <ul class="contact-list list-unstyled">
                        <li><a href="{{ CORE_SITE_PATH }}/contact">Contact Us</a></li>
                        <li><a href="{{ CORE_SITE_PATH }}/report_file">Report File</a></li>
                    </ul>
                </div> 
            </div>
        </div>
    </div>   
</div>
</section>