{% extends "partial/layout.html.twig" %}

{% block title %}{{ t('enter_file_password', 'Enter File Password') }} - {{ file.originalFilename }}{% endblock %}
{% block description %}{{ t("file_download_description", "Download file")~' - '~file.originalFilename }}{% endblock %}
{% block keywords %}{{ file.getFileKeywords() }}{% endblock %}

{% block body %}

<div class="container ">
<div class="row">
                       
<!-- RECOVER FORM -->
    <section class="account-info-section">  
        <div class="container">
            <div class="account-info-box">
                <div class="account-info-section-text text-center">
                <h1 class="mb-xl-3 mb-lg-3 mb-md-3 mb-sm-3 mb-2">{{ t('enter_file_password', 'Enter File Password') }}</h1>
                    {% if msg_page_errors is defined %}
                        <div class="alert bg--error">
                            <div class="alert__body"><i class="fa fa-exclamation-triangle color--error"></i>&nbsp;&nbsp;{% if msg_page_errors is defined %}{{ msg_page_errors|join('. ') }}{% endif %}</div>
                        </div>
                    {% endif %}
                <p>{{ t('enter_file_password_intro', 'The owner of this file has set a password for access, please enter it below.') }}</p>
                </div>

                <form class="account-info-form"  method="POST"  id="form_login" action="{{ file.getFullLongUrl() }}?pt={{ pt }}" autocomplete="off" >

                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">    
                                <input type="password" class="form-control"  placeholder="{{ t("password", "password")|title }}" name="filePassword" id="filePassword"> 
                            </div>
                        </div>
                    </div>
                    
                    <div>
                      
                    </div>
                    <div class="submitform-button">
                    <button type="submit" id="submit" class="submitform-btn button-effect" >{{ t("access_file", "access file")|title }}</button>
                    </div>
                    <input type="hidden" value="1" name="submitme"/>
                  </form>

            </div>
        </div>
    </section>    
 

    </div>
</div>



    {% include '@themePath/partial/_premium_benefits.html.twig' %}
{% endblock %}

{% block footerjs %}
    {% if downloadPageData['additional_javascript_code'] is defined %}
        {{ downloadPageData['additional_javascript_code']|raw }}
    {% endif %}
{% endblock %}