{% extends "partial/layout.html.twig" %}

{% block title %}{{ t("privacy_page_name", "Privacy") }}{% endblock %}
{% block description %}{{ t("privacy_meta_description", "Privacy policy.") }}{% endblock %}
{% block keywords %}{{ t("privacy_meta_keywords", "privacy, policy, file, hosting, site") }}{% endblock %}

{% block body %}
<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ t("privacy_page_name", "Privacy") }}</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <article>
                    {{ t('privacy_policy_text', '[[[SITE_NAME]]] respects your right to privacy. We asure you that all information submitted to us during the process of using our site will be kept strictly confidential and used solely by [[[SITE_NAME]]] to improve the user experience. At [[[SITE_NAME]]] we do not share, sell, rent, or distribute to any third party outside of [[[SITE_NAME]]] with the exception to legal purposes, regulation, or governmental authority.<br/>
<br/>
<strong>Information Collected</strong><br/>
<br/>
[[[SITE_NAME]]] securely holds data about it\'s users in order to process orders and provide account logins so they can access their purchases. The following data may be stored for each registered user of our site:<br/>
<br/>
- Your account email address.<br/>
- Your account password, stored using one-way hashing & encryption.<br/>
- Your title, firstname and lastname as supplied during the registration process.<br/>
- Your first, last and recent login IP addresses.<br/>
- Any data supplied by our payment gateways in order to process your order. These include address data, company name, your payment account email and your full name.<br/>
- Your browser user agent, referrering site and which pages you visited.<br/>
- You can receive a copy of this information by making a request via our <a href="contact">contact form</a>.<br/>
<br/>
[[[SITE_NAME]]] does not collect and store any information such as credit card details.<br/>
<br/>
<strong>How The Information Collected Is Used</strong><br/>
<br/>
We mainly use the information collected to provide a service which has been requested by [[[SITE_NAME]]] users such as of sales and customer support. With permission, [[[SITE_NAME]]] may also use the provided email addresses to contact users periodically to inform them of [[[SITE_NAME]]] service and site announcements such as new products, promotions, and site or service updates. You may choose at any point to unsubscribe to these emails. [[[SITE_NAME]]] may also use the email addresses at any point to contact you for customer support services. [[[SITE_NAME]]] withholds the right to use any of the information provided by users for the purposes improving our site user experience, improving our advertising and marketing, and for legal disputes if required.<br/>
<br/>
<strong>Linked Sites</strong><br/>
<br/>
At any point we may provide [[[SITE_NAME]]] users with links to websites operated by other parties. These links are provided because they may be of use to users for any particular reason. [[[SITE_NAME]]] terms and conditions as well as privacy policy does not extend to third party sites and we are not responsible for the terms and privacy policy set by third party sites.<br/>
<br/>
<strong>Cookie Policy</strong><br/>
<br/>
For the purpose of enhancing our site and the customer experience, we have implemented small data files also known as cookies on your device. Most large sites do this also.<br/>
<br/>
<strong>What are cookies?</strong><br/>
<br/>
A cookie is a text file that is saved onto your computer or device when you visit certain sites. It allows the site to remember your actions and preferences (For example, login, language, etc) so you do not have to re-enter them each time you visit our site or browse between pages.<br/>
<br/>
<strong>How do we use cookies?</strong><br/>
<br/>
A number of our pages use cookies:<br/>
<br/>
- To remember if you have or have not agreed to use cookies on our sites.<br/>
- For external advertisers like Google Ads.<br/>
- By any login process to remember your current login session on the site.<br/>
<br/>
Enabling these cookies will provide you with a better browsing experience. You have the ability and every right to block or delete these cookies if you wish to do so, but certain features of this site may not work as intended. The cookie-related information and data is not used to identify any individual personally and the pattern data is fully under the control of [[[SITE_NAME]]]. The cookies are not used for any purpose other than described here.<br/>
<br/>
<strong>Do we use other cookies?</strong><br/>
<br/>
Some of our pages or sites may use additional or different cookies to the ones described above. If so the details of these will be provided in the specific cookie agreement notice for that particular page.<br/>
<br/>
<strong>How to control cookies</strong><br/>
<br/>
You can control and delete cookies if you wish to do so. For details on this please go to aboutcookies.org. You have the ability to delete all cookies that are already on your computer and most internet browsers have the ability to prevent them from being placed if configured to do so. As an added note, certain functionality on our site may not work as intended if this is done.<br/>
<br/>
[[[SITE_NAME]]] reserves the right to edit the above privacy policy at any time. Any changes made to the above privacy policy are active as soon as they are updated. Users of [[[SITE_NAME]]] sites agrees to regularly review this privacy policy and be aware of any alterations made to them. By the continual use of [[[SITE_NAME]]] sites and services, users agree to the above.', {'SITE_NAME': SITE_CONFIG_SITE_NAME, 'SITE_CONFIG_REPORT_ABUSE_EMAIL': SITE_CONFIG_REPORT_ABUSE_EMAIL })|raw }}
                </article>
            </div>
        </div>
    </div>
</section>
{% endblock %}