{% extends "partial/layout.html.twig" %}

{% block title %}{{ file.originalFilename }}{% endblock %}
{% block description %}{{ file.description|length > 0 ? file.description|slice(0, 250) : t("file_download_description", "Download file")~' - '~file.originalFilename }}{% endblock %}
{% block keywords %}{{ file.getFileKeywords() }}{% endblock %}

{% block body %}

<div class="content-box-wrap">


    
<!-- DOWNLOAD TABLE -->
<div class="download-table" style="background: #f1f2f5;">

    <div class="container">
         {% if UserHelper.showSiteAdverts() %}
                    <div class="col-md-12 text-center advert-wrapperr top-adverrt">
                        {{ file.shouldShowAdultAdvert() == true ? SITE_CONFIG_ADULT_ADVERT_DELAYED_REDIRECT_TOP|raw : SITE_CONFIG_ADVERT_DELAYED_REDIRECT_TOP|raw }}
                    </div>
     {% endif %}
     
            <div class="download-table-box mb-4" style="padding:9px">
                <div class="col">
                    <div class="col-lg-1"></div>

                    <div class="text-center download-table-box-text" style="padding:9px">
                        <h4 style="margin-top: 20px;margin-bottom: 30px;word-wrap: break-word;">    {{ file.originalFilename }} (<span style="color:#ff687d">{{ file.getFormattedFilesize() }}</span>)</h4>
                        
                             
                {% if file.extension == 'mp4' %}             
                
                    <div id="player_wrapper_outer" style="width: 80%;margin: 0 auto;/*! border-radius: 5px; */" oncontextmenu="return false;" onclick="$(&quot;#pr-play-msg&quot;).show()">
                        <div class="play_cover" style="cursor: pointer;">
                            <img src="{% if poster is not null and poster is not empty %} {{poster}} {% endif %}" onError="this.onerror=null;this.src='{{ theme.getAccountImagePath() }}/no-poster.jpg';" alt="Video Preview" class="player_thumb" data-loaded="true">
                            <span class="i-play"></span>
                            <span id="pr-play-msg"> Only  premium users can stream videos</span>
                        </div>
                    </div>
                    
                {% endif %} 
             
             


                    </div>
                    
                </div>
            </div> 
            
            {% if file.extension == 'mp4' %}  
            
                {% if UserHelper.showSiteAdverts() %}
                   <div class="col-md-12 text-center advert-wrapperr bottom-advertt" style="margin-bottom: 30px;">

                        {{ file.shouldShowAdultAdvert() == true ? SITE_CONFIG_ADULT_ADVERT_DELAYED_REDIRECT_BOTTOM|raw : SITE_CONFIG_ADVERT_DELAYED_REDIRECT_BOTTOM|raw }}
                    </div>
                {% endif %}
            {% endif %}     
            
        <div class="table-plan-box">

{% if noDownload %}
<div data-notification class="bx--inline-notification bx--inline-notification--warning" role="alert">
  <div class="bx--inline-notification__details">
    <svg class="bx--inline-notification__icon" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
      <path d="M.75 16a.75.75 0 0 1-.67-1.085L7.33.415a.75.75 0 0 1 1.34 0l7.25 14.5A.75.75 0 0 1 15.25 16H.75zm6.5-10v5h1.5V6h-1.5zM8 13.5A.75.75 0 1 0 8 12a.75.75 0 0 0 0 1.5z"
        fill-rule="nonzero" />
    </svg>
    <div class="bx--inline-notification__text-wrapper">
      <p class="bx--inline-notification__title">{{ errorMsg|length > 0 ? errorMsg }}</p>
    </div>
  </div>
</div>
  {% endif %} 
<div class="row" style="margin-top: 50px">

            <div class="col-sm-6 download-box">
                <div class="cBox circle_success">
                    <div class="masklayer">
                        <h3>MAX SPEED</h3>
                        <p>Unlimited Speed</p>
                        <button onclick="window.location='{{ CORE_SITE_PATH }}/upgrade?f={{ file.shortUrl }}';"  class="btn  btn-lg" type="button" id="pr-download_btn" style="background-color: #ffc107;">PREMIUM DOWNLOAD</button>
                    </div>
                </div>
                <div class="download-info pr-download">
                    <div> {{ t('estimated_download_time', 'estimated Download time')|title }}</div>
                    <p><i class="fa fa-check-circle-o"></i>   {{ CoreHelper.calculateDownloadSpeedFormatted(file.fileSize, 0) }}     </p>                   
                    <div>{{ t('waiting_time', 'waiting time')|title }}</div>
                    <p><i class="fa fa-check-circle-o"></i> NO</p>
                    <div>Start Immediately</div>
                    <p><i class="fa fa-check-circle-o"></i> YES</p>
                    <div>{{ t('site_advertising', 'site advertising')|title }}</div>
                    <p><i class="fa fa-check-circle-o"></i> NO</p>
                </div>
            </div>

            <div class="col-sm-6 download-box">

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            
                            <div class="cBox">
                                <div class="masklayer">
                                    <h3>MIN SPEED</h3>
                                    <p>Speed {{ UserHelper.getMaxDownloadSpeed(1) > 0 ? ( CoreHelper.formatSize(UserHelper.getMaxDownloadSpeed(1)) ~ 'ps') : t('limited', 'limited')|title }}/s</p>

            {% if noDownload %}

            <button onclick="return false;" class="btn btn-default btn-lg" type="button" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">  {{ t('not_available', 'not available')|title }}</button>
             
                {% else %}     
        
                                    <button onclick="triggerFreeDownload(); return false;" class="btn btn-default btn-lg btn-free-element" type="button" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">{{ t('slow_download', 'slow download')|upper }}</button>
                
                                             
                                              
                                
                                  <div class="download-timer" style="display:none;">

                                                <button onclick="triggerFreeDownload(); return false;" class="btn btn-default btn-lg btn__text" type="button" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">   {{ t('wait', 'wait')|upper }} <span class="download-timer-seconds"></span>&nbsp;{{ t('sec', 'sec')|upper }}</button>
                                             <i class="fas fa-spinner fa-pulse" style="display: block;font-size: 40px;margin-top: 5px;color: #b6b6b6;"></i>
                            
                                    </div> 
             {% endif %}                         
                                </div>    
                            </div>
                            
                <div class="download-info">
                    <div> {{ t('estimated_download_time', 'estimated Download time')|title }}</div>
                    <p><i class="fa fa-check-circle-o"></i>{{ CoreHelper.calculateDownloadSpeedFormatted(file.fileSize, UserHelper.getMaxDownloadSpeed(1)) }}</p>                          
                    <div>{{ t('waiting_time', 'waiting time')|title }}</div>
                    <p><i class="fa fa-check-circle-o"></i> {{ additionalSettings['download_wait'] > 0 ? ( additionalSettings['download_wait'] ~ '+ ' ~ t('seconds', 'seconds')|title) : t('instant', 'instant')|title }}</p>
                    <div>Start Immediately</div>
                    <p><i class="fa fa-check-circle-o"></i> NO</p>
                    <div>{{ t('site_advertising', 'site advertising')|title }}</div>
                    <p><i class="fa fa-check-circle-o"></i> {{ t('yes', 'yes')|upper }} </p>
                  
                </div>
                
                        </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        
        
        
        </div>
    </div>    
</div> 
</div> 



{% include '@themePath/partial/_premium_benefits.html.twig' %}
{% endblock %}

{% block footerjs %}
<script>
    var seconds = {{ additionalSettings['download_wait']|number_format }};
    var started = false;
    function display()
    {
        $('.btn-free-element').hide();
        
        {% if noDownload %}
             $('.download-timer').show();
             $('.download-timer').html("<a class='btn btn-default btn-lg' href='/premium/?f={{ file.shortUrl }}'><span class='btn__text'>Available For Premium users only</span></a>");
             
        {% else %}     
        $('.download-timer').show();
        if (seconds == 0)
        {
            $('.download-timer').html("<a class='btn' href='{{ file.getNextDownloadPageLink() }}'><span class='btn btn-default btn-lg btn__text'> <i class='fas fa-cloud-download-alt' style='color: #464646;'></i> {{ t("download", "download")|upper }}</span></a>");
            
        } else
        {
            $('.download-timer-seconds').html(seconds);
        }
        seconds--;
                                     
        {% endif %}
        
    }
    
    function triggerFreeDownload() {
        if(started === true) {
            return;
        }
        
        started = true;
        display();
        countdownTimer = setInterval('display()', 1000);
    }

    //$(document).ready(function () {
    //    display();
    //    $('.download-timer-seconds').html({{ additionalSettings['download_wait']|number_format }});
    //    countdownTimer = setInterval('display()', 1000);
    //});
</script>

{% if downloadPageData['additional_javascript_code'] is defined %}
    {{ downloadPageData['additional_javascript_code']|raw }}
{% endif %}
{% endblock %}