{% extends "partial/layout.html.twig" %}

{% block title %}{{ file.originalFilename }}{% endblock %}
{% block description %}{{ file.description|length > 0 ? file.description|slice(0, 250) : t("file_download_description", "Download file")~' - '~file.originalFilename }}{% endblock %}
{% block keywords %}{{ file.getFileKeywords() }}{% endblock %}

{% block body %}
    <section class="bg--secondary space--sm">
        <div class="container">
            <div class="row justify-content-center download-page-file-info">
                <div class="col-lg-8">
                    <h2 class="text-center">{{ t("share_file_title", "File Information") }}</h2>
                    <p class="text-center">{{ t("file_information_description", "Information about") }} "{{ file.originalFilename }}"</p>
                    
                    {% if UserHelper.showSiteAdverts() %}
                        <div class="col-md-12 text-center advert-wrapper top-advert">
                            {{ file.shouldShowAdultAdvert() == true ? SITE_CONFIG_ADULT_ADVERT_DELAYED_REDIRECT_TOP|raw : SITE_CONFIG_ADVERT_DELAYED_REDIRECT_TOP|raw }}
                        </div>
                    {% endif %}

                    <div class="boxed boxed--lg boxed--border">
                        <div class="text-block text-center">
                            <img src="{{ file.getLargeIconPath()|raw }}" alt="{{ file.extension }}" class="image--md">
                            <span class="h3">{{ file.originalFilename }}</span>
                        </div>
                        <div class="text-block clearfix text-center">
                            <ul class="row row--list">
                                <li class="col-md-4">
                                    <span class="type--fine-print block">Filesize:</span>
                                    <span>{{ file.getFormattedFilesize() }}</span>
                                </li>
                                <li class="col-md-4">
                                    <span class="type--fine-print block">Uploaded:</span>
                                    <span>{{ file.getFormattedUploadedDate() }}</span>
                                </li>
                                <li class="col-md-4">
                                    <span class="type--fine-print block">Status:</span>
                                    <span>{{ file.getStatusLabel()|title }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="boxed boxed--border">
                        <h4>{{ t("download_urls", "download urls")|title }}</h4>
                        <ul>
                            <li class="clearfix">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <span class="type--fine-print">{{ t('file_page_link', 'File Page Link')|title }}</span>
                                        <pre>{{ file.getFullShortUrl() }}</pre>
                                    </div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <span class="type--fine-print">{{ t('html_code', 'HTML Code') }}</span>
                                        <pre>{{ file.getHtmlLinkCode()|raw }}</pre>
                                    </div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <span class="type--fine-print">{{ t('forum_code', 'forum code')|title }}</span>
                                        <pre>{{ file.getForumLinkCode()|raw }}</pre>
                                    </div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <span class="type--fine-print">{{ t('statistics_url', 'statistics url')|title }}</span>
                                        <pre>{{ file.getStatisticsUrl() }}</pre>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    {% if UserHelper.showSiteAdverts() %}
                        <div class="col-md-12 text-center advert-wrapper bottom-advert">
                            {{ file.shouldShowAdultAdvert() == true ? SITE_CONFIG_ADULT_ADVERT_DELAYED_REDIRECT_BOTTOM|raw : SITE_CONFIG_ADVERT_DELAYED_REDIRECT_BOTTOM|raw }}
                        </div>
                    {% endif %}
                    
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button class="btn btn--primary type--uppercase" onclick="window.location = '{{ file.getNextDownloadPageLink() }}'; return false;">{{ t("download", "Download") }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--end of row-->
            <input type="hidden" name="submitted" value="1"/>
        </div>
        <!--end of container-->
    </section>
{% endblock %}

{% block footerjs %}
{% if downloadPageData['additional_javascript_code'] is defined %}
    {{ downloadPageData['additional_javascript_code']|raw }}
{% endif %}
{% endblock %}